# .gitignore

# Ignore o diretório de módulos do Node
node_modules/

# Ignore arquivos de log
*.log

# Ignore o arquivo de bloqueio de pacote
package-lock.json

# Ignore arquivos temporários
*.tmp
*.swp
*.swo

# Ignore diretórios de ambiente
.env
